<div class="container-fluid">
    <!-- start page title -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="javascript: void(0);">Hyper</a></li>
                        <li class="breadcrumb-item"><a href="javascript: void(0);">Pages</a></li>
                        <li class="breadcrumb-item active">Materias</li>
                    </ol>
                </div>
                <h4 class="page-title">Materias</h4>
            </div>
        </div>
    </div>
    <!-- end page title -->
    <div class="row">
        <div class="col-xl-3">
            <div class="card white">
                <div class="card-body">
                    <table class="table table-centered table-borderless mb-0">
                        <thead>
                            <tr>
                                <th>Materia</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let subject of subjects">
                                <td (click)="loadGrades(subject)">{{ subject.name }}</td>
                            </tr>
                        </tbody>

                    </table>
                </div>
            </div>
        </div>

        <div class="col-xl-9">
            <div class="card white">
                <div *ngIf="subject" class="card-body">

                    <h5 class="mb-3">{{ subject.name }}</h5>

                    <div class="table-responsive">

                        <table class="table table-centered table-borderless mb-0">
                            <thead class="thead-light">
                                <tr>
                                    <th>Actividad</th>
                                    <th>Descripción</th>
                                    <th>Nota</th>
                                    <th>Fecha</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let grade of grades">
                                    <td>{{ grade.category_grade.name }}</td>
                                    <td>{{ grade.descripcion }}</td>
                                    <td>{{ grade.value }}</td>
                                    <td>{{ grade.createdAt }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>