<div class="container-fluid">
    <!-- start page title -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="javascript: void(0);">Hyper</a></li>
                        <li class="breadcrumb-item"><a href="javascript: void(0);">Pages</a></li>
                        <li class="breadcrumb-item active">Materias</li>
                    </ol>
                </div>
                <h4 class="page-title">Materias</h4>
            </div>
        </div>
    </div>
    <!-- end page title -->
    <div class="row">
        <div class="col-xl-3">
            <div class="card white">
                <div class="card-body">
                    <table class="table table-centered table-borderless mb-0">
                        <thead>
                            <tr>
                                <th>Materia</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="bold">Matematicas</td>

                            </tr>
                            <tr>
                                <td>español</td>

                            </tr>
                            <tr>
                                <td>sociales</td>

                            </tr>
                            <tr>
                                <td>Religión</td>

                            </tr>
                            <tr>
                                <td>Fisica</td>

                            </tr>
                            <tr>
                                <td>Quimica</td>

                            </tr>
                        </tbody>

                    </table>
                </div>
            </div>
        </div>

        <div class="col-xl-9">
            <div class="card white">
                <div class="card-body">

                    <h4 class="header-title">Matematicas</h4>

                    <table class="table table-centered table-borderless mb-0">
                        <thead>
                            <tr>
                                <th>Actividad</th>
                                <th>Descripción</th>
                                <th>Fecha de entrega</th>
                                <th>Estado</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Taller de Algebra</td>
                                <td>Ejercicios del 12 al 18 del algebra, capitulo xx1.</td>
                                <td>Nov 04, 2020</td>
                                <td>
                                    <!-- Switch-->
                                    <div>
                                        <input type="checkbox" id="switch21" checked data-switch="success" />
                                        <label for="switch21" data-off-label="No" class="mb-0 d-block"></label>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>Ann C. Thompson</td>
                                <td>646-473-2057</td>
                                <td>January 25, 1959</td>
                                <td>
                                    <!-- Switch-->
                                    <div>
                                        <input type="checkbox" id="switch22" checked data-switch="success" />
                                        <label for="switch22" data-off-label="No" class="mb-0 d-block"></label>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>Paul J. Friend</td>
                                <td>281-308-0793</td>
                                <td>September 1, 1939</td>
                                <td>
                                    <!-- Switch-->
                                    <div>
                                        <input type="checkbox" id="switch23" data-switch="success" />
                                        <label for="switch23" data-off-label="No" class="mb-0 d-block"></label>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>Linda G. Smith</td>
                                <td>606-253-1207</td>
                                <td>May 3, 1962</td>
                                <td>
                                    <!-- Switch-->
                                    <div>
                                        <input type="checkbox" id="switch24" data-switch="success" />
                                        <label for="switch24" data-off-label="No" class="mb-0 d-block"></label>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>