<div class="auth-fluid">
    <!--Auth fluid left content -->
    <div class="auth-fluid-form-box">
        <div class="align-items-center d-flex h-100">
            <div class="card-body">

                <!-- Logo -->
                <div class="auth-brand text-center text-lg-left">
                    <a href="index.html" class="logo-dark">
                        <span><img src="assets/images/logo-dark.png" alt="" height="18"></span>
                    </a>
                    <a href="index.html" class="logo-light">
                        <span><img src="assets/images/logo.png" alt="" height="18"></span>
                    </a>
                </div>

                <!-- title-->
                <h4 class="mt-0">Inicio de sesión</h4>
                <p class="text-muted mb-4">Ingresa tu correo electronico y contraseña para acceder.</p>

                <!-- form -->
                <form [formGroup]="loginForm">
                    <div class="form-group">
                        <label for="emailaddress">Usuario</label>
                        <input class="form-control" type="email" formControlName="user" placeholder="Ingresa tu correo">
                    </div>
                    <div class="form-group">
                        <!-- <a href="pages-recoverpw-2.html" class="text-muted float-right"><small>Forgot your password?</small></a> -->
                        <label for="password">Contraseña</label>
                        <input class="form-control" formControlName="password" type="password" placeholder="Ingresa tu contraseña">
                    </div>
                    <div class="form-group mb-3">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="checkbox-signin">
                            <label class="custom-control-label" for="checkbox-signin">Recordarme</label>
                        </div>
                    </div>
                    <div class="form-group mb-0 text-center">
                        <button [disabled]="!loginForm.valid" class="btn btn-primary btn-block" type="submit" (click)="login()"><i class="mdi mdi-login"></i> Log In </button>
                    </div>
                </form>
                <!-- end form-->
                <div *ngIf="error" class="invalid-feedback text-center" style="display: block; margin-top: 2em;">{{error}}</div>
            </div>
            <!-- end .card-body -->
        </div>
        <!-- end .align-items-center.d-flex.h-100-->
    </div>
    <!-- end auth-fluid-form-box-->

    <!-- Auth fluid right content -->

    <div class="auth-fluid-right text-center">
        <div class="auth-user-testimonial">
            <h2 class="mb-3">I love the color!</h2>
            <p class="lead"><i class="mdi mdi-format-quote-open"></i> It's a elegent templete. I love it very much! . <i class="mdi mdi-format-quote-close"></i>
            </p>
            <p>
                - Hyper Admin User
            </p>
        </div>

    </div>


    <!-- end Auth fluid right content -->
</div>
<!-- end auth-fluid-->