<div class="container-fluid">
    <!-- start page title -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="javascript: void(0);">Hyper</a></li>
                        <li class="breadcrumb-item"><a href="javascript: void(0);">Pages</a></li>
                        <li class="breadcrumb-item active">Horario</li>
                    </ol>
                </div>
                <h4 class="page-title">Horario</h4>
            </div>
        </div>
    </div>
    <!-- end page title -->
    <div class="row">
        <div class="col-xl-12">
            <div class="card white">
                <div class="card-body">

                    <h4 class="header-title">Horario de clases </h4>
                    <h3>grupo 7-01</h3>
                    <!-- <p class="text-muted font-14">
                        Add <code>.table-borderless</code> for a table without borders.
                    </p> -->

                    <table class="table table-centered table-borderless mb-0">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Phone Number</th>
                                <th>Date of Birth</th>
                                <th>Active?</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Risa D. Pearson</td>
                                <td>336-508-2157</td>
                                <td>July 24, 1950</td>
                                <td>
                                    <!-- Switch-->
                                    <div>
                                        <input type="checkbox" id="switch21" checked data-switch="success" />
                                        <label for="switch21" data-off-label="No" class="mb-0 d-block"></label>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>Ann C. Thompson</td>
                                <td>646-473-2057</td>
                                <td>January 25, 1959</td>
                                <td>
                                    <!-- Switch-->
                                    <div>
                                        <input type="checkbox" id="switch22" checked data-switch="success" />
                                        <label for="switch22" data-off-label="No" class="mb-0 d-block"></label>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>Paul J. Friend</td>
                                <td>281-308-0793</td>
                                <td>September 1, 1939</td>
                                <td>
                                    <!-- Switch-->
                                    <div>
                                        <input type="checkbox" id="switch23" data-switch="success" />
                                        <label for="switch23" data-off-label="No" class="mb-0 d-block"></label>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>Linda G. Smith</td>
                                <td>606-253-1207</td>
                                <td>May 3, 1962</td>
                                <td>
                                    <!-- Switch-->
                                    <div>
                                        <input type="checkbox" id="switch24" data-switch="success" />
                                        <label for="switch24" data-off-label="No" class="mb-0 d-block"></label>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>