<!-- Start Content-->
<div class="container-fluid">

    <app-breadcrumbs title="Perfil"></app-breadcrumbs>

    <div class="row">
        <div class="col-4">
            <div class="card">
                <div class="card-body">
                    <div class="media">
                        <img class="d-flex align-self-start rounded mr-3" src="assets/images/users/avatar-5.jpg" alt="Dominic Keller" height="70">
                        <div class="media-body">
                            <p class="mt-1 mb-0 text-dark font-size-h4">{{ user.name }} {{ user.lastname }}</p>
                            <span class="mb-1 mt-1 text-gray-light">Estudiante</span>
                        </div>
                    </div>
                    <div class="mt-4">
            
                        <p><span class="text-dark">Telefono :</span> <span class="ml-2">{{ user.phone }}</span></p>

                        <p><span class="text-dark">Email :</span> <span class="ml-2">{{ user.email }}</span></p>

                        <p><span class="text-dark">Movil :</span> <span class="ml-2">{{ user.movil }}</span></p>

                        <p><span class="text-dark">Dirrección :</span> <span class="ml-2">{{ user.address }}</span></p>

                        <p><span class="text-dark">Fecha de nacimiento :</span> <span class="ml-2">{{ user.birthdate }}</span></p>

                        <p><span class="text-dark">Tipo de documento :</span> <span class="ml-2">{{ user.documentType }}</span></p>

                        <p><span class="text-dark">Numero de documento :</span> <span class="ml-2">{{ user.documentNumber }}</span></p>

                    </div>
            
                </div>
                <!-- end card-body -->
            </div>
            <!-- end card -->

        </div>
        <div class="col-4">
            <div class="card">
                <div class="card-body">
                    <div class="media">
                        <img class="d-flex rounded mr-3" src="assets/images/users/avatar-1.jpg" alt="Dominic Keller" height="70">
                        <div class="media-body">
                            <p class="mt-1 mb-0 text-dark font-size-h4">Camilo Lopez</p>
                            <span class="mb-1 mt-1 text-gray-light">Acudiente</span>
                        </div>
                    </div>
                    <div class="mt-4">
            
                        <p><span class="text-dark">Telefono :</span> <span class="ml-2">{{ user.phone }}</span></p>

                        <p><span class="text-dark">Email :</span> <span class="ml-2">{{ user.email }}</span></p>

                        <p><span class="text-dark">Movil :</span> <span class="ml-2">{{ user.movil }}</span></p>

                        <p><span class="text-dark">Dirrección :</span> <span class="ml-2">{{ user.address }}</span></p>

                        <p><span class="text-dark">Numero de documento :</span> <span class="ml-2">{{ user.documentNumber }}</span></p>

                    </div>
                </div>
                <!-- end card-body -->
            </div>
            <!-- end card -->

        </div>
        <div class="col-4">
            <div class="card text-center">
                <div class="card-body">
                    
                </div>
                <!-- end card-body -->
            </div>
            <!-- end card -->

        </div>
    </div>
    <!-- end row-->

</div>
<!-- container -->