// Variables
//
// Variables should follow the `$component-state-property-size` formula for
// consistent naming. Ex: $nav-link-disabled-color and $modal-content-box-shadow-xs.

// Color system

$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #eef2f7 !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #313a46 !default;
$gray-900: #212529 !default;
$black:    #000 !default;
$dark:     #4c4c4d !default;

$blue:    #3699FF !default;
$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$pink:    #e83e8c !default;
$red:     #fa5c7c !default;
$orange:  #fd7e14 !default;
$yellow:  #ffbc00 !default;
$green:   #0acf97 !default;
$teal:    #20c997 !default;
$cyan:    #39afd1 !default;

$primary:       $blue !default;
$secondary:     $gray-600 !default;
$success:       $green !default;
$info:          $cyan !default;
$warning:       $yellow !default;
$danger:        $red !default;
$light:         $gray-100 !default;
$dark:          $gray-800 !default;

$body-color:               $gray-600 !default;

$card-border-color:                 $gray-200 !default;
$list-group-border-color:           $gray-200 !default;
$list-group-bg:                     $white !default;

$dropdown-link-color:                    $secondary !default;
