/* You can add global styles to this file, and also import other style files */
@import 'variables';
@import '../node_modules/bootstrap/scss/bootstrap';


.left-side-menu {

    background-color: $dark !important;

}

.arrow-none:after{display:none}

.page-aside-right {
    margin: -1.5rem 0 -1.5rem 250px;
    border-left: 5px solid #fafbfe;
    padding: 1.5rem 0 1.5rem 25px;
}